# Pipeline Orchestration Test
This notebook tests the full orchestration of the sales analytics pipeline to ensure all modules work as intended.

### Notebook for exploration, SQL queries, etc

In [11]:
import os
import sys
from src.components.db_handler import PostgresDBHandler

project_root = os.path.abspath("..")
if project_root not in sys.path:
    sys.path.insert(0, project_root)

db = PostgresDBHandler(os.getenv('DB_URL'))

df = db.read_query("""SELECT * FROM sales_data
                   WHERE money > 30
                   ORDER BY datetime DESC""")
df.head()

[2025-07-31 13:25:40] 17 - src.components.db_handler - INFO - Initializing PostgresDBHandler ....
[2025-07-31 13:25:40] 31 - src.components.db_handler - INFO - Database connection established successfully.
[2025-07-31 13:25:40] 54 - src.components.db_handler - INFO - SQL query executed successfully: SELECT * FROM sales_data
                   WHERE money > 30
                   ORDER BY datetime DESC

,date,datetime,cash_type,card,money,coffee_name
0,2025-03-23,2025-03-23 18:11:38.635,card,ANON-0000-0000-1275,35.76,Latte
1,2025-03-23,2025-03-23 14:44:16.864,card,ANON-0000-0000-1315,35.76,Cocoa
2,2025-03-23,2025-03-23 14:43:37.362,card,ANON-0000-0000-1315,35.76,Cocoa
3,2025-03-23,2025-03-23 10:34:54.894,card,ANON-0000-0000-1158,35.76,Cappuccino
4,2025-03-23,2025-03-23 10:07:11.278,card,ANON-0000-0000-1196,35.76,Latte